@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CL:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{ 
    background: rgb(147,25,21);
    background: linear-gradient(180deg, rgba(147,25,21,1) 75%, rgba(214,160,159,1) 100%);}

  body,table {
    font-family: 'Roboto'
  }
  
  h1, h2, h3, h4, h5, h6, button {
    font-family: 'Montserrat'
  }

  #carrousel {
    overflow: hidden;
  }
  
  #carrousel ul {
    display: flex;
    width: 300vw;
    animation: slide 20s infinite;
  }
  
  #carrousel li {
    width: 100vw;
    height: 100vh;
    list-style: none;
  }
  
  @keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100vw); }
    45% { transform: translateX(-100vw); }
    50% { transform: translateX(-200vw); }
    70% { transform: translateX(-200vw); }
  }
  
  
  
@media (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
}

select, input{
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    height: 35px;
    overflow: hidden;
    padding-inline: 10px;
}
label{
    padding-top: 5px;
}